.logo-home{
  display: inline-block;
  cursor: pointer;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 40px;
  font-family: sans-serif;
  font-variant: small-caps;
  color: #fff;
  z-index: 1;
  text-decoration: none;
}
